# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [2]:
# load in the data
azdias = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# Be sure to add in a lot more cells (both markdown and code) to document your
# approach and findings!

In [4]:
azdias.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891221 entries, 0 to 891220
Columns: 366 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(93), object(6)
memory usage: 2.4+ GB

In [5]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191652 entries, 0 to 191651
Columns: 369 entries, LNR to ALTERSKATEGORIE_GROB
dtypes: float64(267), int64(94), object(8)
memory usage: 539.5+ MB

In [6]:
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [7]:
customers.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

In [8]:
set(customers.columns) - set(azdias.columns)

{'CUSTOMER_GROUP', 'ONLINE_PURCHASE', 'PRODUCT_GROUP'}

In [9]:
customers.CUSTOMER_GROUP.unique()

array(['MULTI_BUYER', 'SINGLE_BUYER'], dtype=object)

In [10]:
customers.PRODUCT_GROUP.unique()

array(['COSMETIC_AND_FOOD', 'FOOD', 'COSMETIC'], dtype=object)

In [11]:
customers.ONLINE_PURCHASE.unique()

array([0, 1])

In [12]:
attributes = pd.read_excel('DIAS Attributes - Values 2017.xlsx').drop('Unnamed: 0', axis=1)
attribute_info = pd.read_excel('DIAS Information Levels - Attributes 2017.xlsx').drop('Unnamed: 0', axis=1)

In [13]:
attributes[['Attribute', 'Description']] = attributes[['Attribute', 'Description']].ffill()

In [14]:
attribute_info.head()

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,NaN,ANREDE_KZ,gender,NaN
3,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...

In [15]:
attributes.head()

  Attribute         Description Value                     Meaning
0  AGER_TYP  best-ager typology    -1                     unknown
1  AGER_TYP  best-ager typology     0  no classification possible
2  AGER_TYP  best-ager typology     1             passive elderly
3  AGER_TYP  best-ager typology     2            cultural elderly
4  AGER_TYP  best-ager typology     3   experience-driven elderly

In [16]:
def mark_as_missing(x):
    if type(x)==str:
        return 'unknown' in x
    else:
        return x
    
attributes['Missing'] = attributes['Meaning'].apply(mark_as_missing)

In [17]:
attributes['Missing'].unique()

array([True, False, nan], dtype=object)

In [18]:
unknowns = attributes[attributes.Missing == True]

In [19]:
unknowns.reset_index(inplace=True, drop=True)

In [20]:
unknowns.head()

,Attribute,Description,Value,Meaning,Missing
0,AGER_TYP,best-ager typology,-1,unknown,True
1,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown,True
2,ALTER_HH,main age within the household,0,unknown / no main age detectable,True
3,ANREDE_KZ,gender,"-1, 0",unknown,True
4,BALLRAUM,distance to next urban centre,-1,unknown,True

In [21]:
unknowns.loc[:, 'Value'] = unknowns.Value.apply(lambda x: [int(i) for i in x.split(',')] if type(x)!=int else [x])

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:630: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item_labels[indexer[info_axis]]] = value

In [22]:
unknowns_dict = {v.Attribute: {val: np.nan for val in v.Value} for _, v in unknowns.iterrows()}

In [23]:
unknowns_dict

{'AGER_TYP': {-1: nan},
 'ALTERSKATEGORIE_GROB': {-1: nan, 0: nan},
 'ALTER_HH': {0: nan},
 'ANREDE_KZ': {-1: nan, 0: nan},
 'BALLRAUM': {-1: nan},
 'BIP_FLAG': {-1: nan},
 'CAMEO_DEUG_2015': {-1: nan},
 'CAMEO_DEUINTL_2015': {-1: nan},
 'CJT_GESAMTTYP': {0: nan},
 'D19_KK_KUNDENTYP': {-1: nan},
 'EWDICHTE': {-1: nan},
 'FINANZTYP': {-1: nan},
 'FINANZ_ANLEGER': {-1: nan},
 'FINANZ_HAUSBAUER': {-1: nan},
 'FINANZ_MINIMALIST': {-1: nan},
 'FINANZ_SPARER': {-1: nan},
 'FINANZ_UNAUFFAELLIGER': {-1: nan},
 'FINANZ_VORSORGER': {-1: nan},
 'GEBAEUDETYP': {-1: nan, 0: nan},
 'GEOSCORE_KLS7': {-1: nan, 0: nan},
 'HAUSHALTSSTRUKTUR': {-1: nan, 0: nan},
 'HEALTH_TYP': {-1: nan},
 'HH_EINKOMMEN_SCORE': {-1: nan, 0: nan},
 'INNENSTADT': {-1: nan},
 'KBA05_ALTER1': {-1: nan, 9: nan},
 'KBA05_ALTER2': {-1: nan, 9: nan},
 'KBA05_ALTER3': {-1: nan, 9: nan},
 'KBA05_ALTER4': {-1: nan, 9: nan},
 'KBA05_ANHANG': {-1: nan, 9: nan},
 'KBA05_ANTG1': {-1: nan},
 'KBA05_ANTG2': {-1: nan},
 'KBA05_ANTG3': {-1: nan},
 'KBA05_ANTG4': {-1: nan},
 'KBA05_AUTOQUOT': {-1: nan, 9: nan},
 'KBA05_BAUMAX': {-1: nan, 0: nan},
 'KBA05_CCM1': {-1: nan, 9: nan},
 'KBA05_CCM2': {-1: nan, 9: nan},
 'KBA05_CCM3': {-1: nan, 9: nan},
 'KBA05_CCM4': {-1: nan, 9: nan},
 'KBA05_DIESEL': {-1: nan, 9: nan},
 'KBA05_FRAU': {-1: nan, 9: nan},
 'KBA05_GBZ': {-1: nan, 0: nan},
 'KBA05_HERST1': {-1: nan, 9: nan},
 'KBA05_HERST2': {-1: nan, 9: nan},
 'KBA05_HERST3': {-1: nan, 9: nan},
 'KBA05_HERST4': {-1: nan, 9: nan},
 'KBA05_HERST5': {-1: nan, 9: nan},
 'KBA05_HERSTTEMP': {-1: nan, 9: nan},
 'KBA05_KRSAQUOT': {-1: nan, 9: nan},
 'KBA05_KRSHERST1': {-1: nan, 9: nan},
 'KBA05_KRSHERST2': {-1: nan, 9: nan},
 'KBA05_KRSHERST3': {-1: nan, 9: nan},
 'KBA05_KRSKLEIN': {-1: nan, 9: nan},
 'KBA05_KRSOBER': {-1: nan, 9: nan},
 'KBA05_KRSVAN': {-1: nan, 9: nan},
 'KBA05_KRSZUL': {-1: nan, 9: nan},
 'KBA05_KW1': {-1: nan, 9: nan},
 'KBA05_KW2': {-1: nan, 9: nan},
 'KBA05_KW3': {-1: nan, 9: nan},
 'KBA05_MAXAH': {-1: nan, 9: nan},
 'KBA05_MAXBJ': {-1: nan, 9: nan},
 'KBA05_MAXHERST': {-1: nan, 9: nan},
 'KBA05_MAXSEG': {-1: nan, 9: nan},
 'KBA05_MAXVORB': {-1: nan, 9: nan},
 'KBA05_MOD1': {-1: nan, 9: nan},
 'KBA05_MOD2': {-1: nan, 9: nan},
 'KBA05_MOD3': {-1: nan, 9: nan},
 'KBA05_MOD4': {-1: nan, 9: nan},
 'KBA05_MOD8': {-1: nan, 9: nan},
 'KBA05_MODTEMP': {-1: nan, 9: nan},
 'KBA05_MOTOR': {-1: nan, 9: nan},
 'KBA05_MOTRAD': {-1: nan, 9: nan},
 'KBA05_SEG1': {-1: nan, 9: nan},
 'KBA05_SEG10': {-1: nan, 9: nan},
 'KBA05_SEG2': {-1: nan, 9: nan},
 'KBA05_SEG3': {-1: nan, 9: nan},
 'KBA05_SEG4': {-1: nan, 9: nan},
 'KBA05_SEG5': {-1: nan, 9: nan},
 'KBA05_SEG6': {-1: nan, 9: nan},
 'KBA05_SEG7': {-1: nan, 9: nan},
 'KBA05_SEG8': {-1: nan, 9: nan},
 'KBA05_SEG9': {-1: nan, 9: nan},
 'KBA05_VORB0': {-1: nan, 9: nan},
 'KBA05_VORB1': {-1: nan, 9: nan},
 'KBA05_VORB2': {-1: nan, 9: nan},
 'KBA05_ZUL1': {-1: nan, 9: nan},
 'KBA05_ZUL2': {-1: nan, 9: nan},
 'KBA05_ZUL3': {-1: nan, 9: nan},
 'KBA05_ZUL4': {-1: nan, 9: nan},
 'KBA13_ALTERHALTER_30': {-1: nan},
 'KBA13_ALTERHALTER_45': {-1: nan},
 'KBA13_ALTERHALTER_60': {-1: nan},
 'KBA13_ALTERHALTER_61': {-1: nan},
 'KBA13_AUDI': {-1: nan},
 'KBA13_AUTOQUOTE': {-1: nan},
 'KBA13_BJ_1999': {-1: nan},
 'KBA13_BJ_2000': {-1: nan},
 'KBA13_BJ_2004': {-1: nan},
 'KBA13_BJ_2006': {-1: nan},
 'KBA13_BJ_2008': {-1: nan},
 'KBA13_BJ_2009': {-1: nan},
 'KBA13_BMW': {-1: nan},
 'KBA13_CCM_1000': {-1: nan},
 'KBA13_CCM_1200': {-1: nan},
 'KBA13_CCM_1400': {-1: nan},
 'KBA13_CCM_0_1400': {-1: nan},
 'KBA13_CCM_1500': {-1: nan},
 'KBA13_CCM_1400_2500': {-1: nan},
 'KBA13_CCM_1600': {-1: nan},
 'KBA13_CCM_1800': {-1: nan},
 'KBA13_CCM_2000': {-1: nan},
 'KBA13_CCM_2500': {-1: nan},
 'KBA13_CCM_2501': {-1: nan},
 'KBA13_CCM_3000': {-1: nan},
 'KBA13_CCM_3001': {-1: nan},
 'KBA13_FAB_ASIEN': {-1: nan},
 'KBA13_FAB_SONSTIGE': {-1: nan},
 'KBA13_FIAT': {-1: nan},
 'KBA13_FORD': {-1: nan},
 'KBA13_HALTER_20': {-1: nan},
 'KBA13_HALTER_25': {-1: nan},
 'KBA13_HALTER_30': {-1: nan},
 'KBA13_HALTER_35': {-1: nan},
 'KBA13_HALTER_40': {-1: nan},
 'KBA13_HALTER_45': {-1: nan},
 'KBA13_HALTER_50': {-1: nan},
 'KBA13_HALTER_55': {-1: nan},
 'KBA13_HALTER_60': {-1: nan},
 'KBA13_HALTER_65': {-1: nan},
 'KBA13_HALTER_66': {-1: nan},
 'KBA13_HERST_ASIEN': {-1: nan},
 'KBA13_HERST_AUDI_VW': {-1: nan},
 'KBA13_HERST_BMW_BENZ': {-1: nan},
 'KBA13_HERST_EUROPA': {-1: nan},
 'KBA13_HERST_FORD_OPEL': {-1: nan},
 'KBA13_HERST_SONST': {-1: nan},
 'KBA13_KMH_110': {-1: nan},
 'KBA13_KMH_140': {-1: nan},
 'KBA13_KMH_180': {-1: nan},
 'KBA13_KMH_0_140': {-1: nan},
 'KBA13_KMH_140_210': {-1: nan},
 'KBA13_KMH_211': {-1: nan},
 'KBA13_KMH_250': {-1: nan},
 'KBA13_KMH_251': {-1: nan},
 'KBA13_KRSAQUOT': {-1: nan},
 'KBA13_KRSHERST_AUDI_VW': {-1: nan},
 'KBA13_KRSHERST_BMW_BENZ': {-1: nan},
 'KBA13_KRSHERST_FORD_OPEL': {-1: nan},
 'KBA13_KRSSEG_KLEIN': {-1: nan},
 'KBA13_KRSSEG_OBER': {-1: nan},
 'KBA13_KRSSEG_VAN': {-1: nan},
 'KBA13_KRSZUL_NEU': {-1: nan},
 'KBA13_KW_30': {-1: nan},
 'KBA13_KW_40': {-1: nan},
 'KBA13_KW_50': {-1: nan},
 'KBA13_KW_60': {-1: nan},
 'KBA13_KW_0_60': {-1: nan},
 'KBA13_KW_70': {-1: nan},
 'KBA13_KW_61_120': {-1: nan},
 'KBA13_KW_80': {-1: nan},
 'KBA13_KW_90': {-1: nan},
 'KBA13_KW_110': {-1: nan},
 'KBA13_KW_120': {-1: nan},
 'KBA13_KW_121': {-1: nan},
 'KBA13_MAZDA': {-1: nan},
 'KBA13_MERCEDES': {-1: nan},
 'KBA13_MOTOR': {-1: nan},
 'KBA13_NISSAN': {-1: nan},
 'KBA13_OPEL': {-1: nan},
 'KBA13_PEUGEOT': {-1: nan},
 'KBA13_RENAULT': {-1: nan},
 'KBA13_SEG_GELAENDEWAGEN': {-1: nan},
 'KBA13_SEG_GROSSRAUMVANS': {-1: nan},
 'KBA13_SEG_KLEINST': {-1: nan},
 'KBA13_SEG_KLEINWAGEN': {-1: nan},
 'KBA13_SEG_KOMPAKTKLASSE': {-1: nan},
 'KBA13_SEG_MINIVANS': {-1: nan},
 'KBA13_SEG_MINIWAGEN': {-1: nan},
 'KBA13_SEG_MITTELKLASSE': {-1: nan},
 'KBA13_SEG_OBEREMITTELKLASSE': {-1: nan},
 'KBA13_SEG_OBERKLASSE': {-1: nan},
 'KBA13_SEG_SONSTIGE': {-1: nan},
 'KBA13_SEG_SPORTWAGEN': {-1: nan},
 'KBA13_SEG_UTILITIES': {-1: nan},
 'KBA13_SEG_VAN': {-1: nan},
 'KBA13_SEG_WOHNMOBILE': {-1: nan},
 'KBA13_SITZE_4': {-1: nan},
 'KBA13_SITZE_5': {-1: nan},
 'KBA13_SITZE_6': {-1: nan},
 'KBA13_TOYOTA': {-1: nan},
 'KBA13_VORB_0': {-1: nan},
 'KBA13_VORB_1': {-1: nan},
 'KBA13_VORB_1_2': {-1: nan},
 'KBA13_VORB_2': {-1: nan},
 'KBA13_VORB_3': {-1: nan},
 'KBA13_VW': {-1: nan},
 'KKK': {-1: nan, 0: nan},
 'NATIONALITAET_KZ': {-1: nan, 0: nan},
 'ORTSGR_KLS9': {-1: nan},
 'OST_WEST_KZ': {-1: nan},
 'PLZ8_ANTG1': {-1: nan},
 'PLZ8_ANTG2': {-1: nan},
 'PLZ8_ANTG3': {-1: nan},
 'PLZ8_ANTG4': {-1: nan},
 'PLZ8_GBZ': {-1: nan},
 'PLZ8_HHZ': {-1: nan},
 'PRAEGENDE_JUGENDJAHRE': {-1: nan, 0: nan},
 'REGIOTYP': {-1: nan, 0: nan},
 'RELAT_AB': {-1: nan, 9: nan},
 'RETOURTYP_BK_S': {0: nan},
 'SEMIO_DOM': {-1: nan, 9: nan},
 'SEMIO_ERL': {-1: nan, 9: nan},
 'SEMIO_FAM': {-1: nan, 9: nan},
 'SEMIO_KAEM': {-1: nan, 9: nan},
 'SEMIO_KRIT': {-1: nan, 9: nan},
 'SEMIO_KULT': {-1: nan, 9: nan},
 'SEMIO_LUST': {-1: nan, 9: nan},
 'SEMIO_MAT': {-1: nan, 9: nan},
 'SEMIO_PFLICHT': {-1: nan, 9: nan},
 'SEMIO_RAT': {-1: nan, 9: nan},
 'SEMIO_REL': {-1: nan, 9: nan},
 'SEMIO_SOZ': {-1: nan, 9: nan},
 'SEMIO_TRADV': {-1: nan, 9: nan},
 'SEMIO_VERT': {-1: nan, 9: nan},
 'SHOPPER_TYP': {-1: nan},
 'SOHO_FLAG': {-1: nan},
 'TITEL_KZ': {-1: nan, 0: nan},
 'VERS_TYP': {-1: nan},
 'WOHNDAUER_2008': {-1: nan, 0: nan},
 'WOHNLAGE': {-1: nan},
 'WACHSTUMSGEBIET_NB': {-1: nan, 0: nan},
 'W_KEIT_KIND_HH': {-1: nan, 0: nan},
 'ZABEOTYP': {-1: nan, 9: nan}}

In [ ]:
len(unknown_dict.keys())

In [24]:
customers.replace(unknowns_dict, inplace=True)

In [25]:
azdias.replace(unknowns_dict, inplace=True)

In [ ]:
customers.to_pickle('customers.pkl')
azdias.to_pickle('azdias.pkl')

After Replacing NaNs

In [39]:
customers_missing_val = customers.isnull().sum() / len(customers)
customers_missing_val = customers_missing_val[customers_missing_val>0]

In [40]:
azdias_missing_val = azdias.isnull().sum() / len(azdias)
azdias_missing_val = azdias_missing_val[azdias_missing_val>0]

In [41]:
customers_cols_to_drop = customers_missing_val[customers_missing_val >= 0.25].index

In [42]:
azdias_cols_to_drop = azdias_missing_val[azdias_missing_val >= 0.25].index

In [50]:
customers_df = customers.dropna(thresh=0.3*len(customers), axis=1)

In [53]:
0.7*len(customers)

134156.4

In [51]:
customers_df.shape

(191652, 357)

In [52]:
customers.shape

(191652, 369)

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')