In [1]:
import numpy as np
import pandas as pd

In [2]:
attributes = pd.read_excel('DIAS Attributes - Values 2017.xlsx').drop('Unnamed: 0', axis=1)
attribute_info = pd.read_excel('DIAS Information Levels - Attributes 2017.xlsx').drop('Unnamed: 0', axis=1)

In [3]:
attributes[['Attribute', 'Description']] = attributes[['Attribute', 'Description']].ffill()

In [4]:
attribute_info['Information level'] = attribute_info['Information level'].ffill()

In [5]:
attributes.head()

  Attribute         Description Value                     Meaning
0  AGER_TYP  best-ager typology    -1                     unknown
1  AGER_TYP  best-ager typology     0  no classification possible
2  AGER_TYP  best-ager typology     1             passive elderly
3  AGER_TYP  best-ager typology     2            cultural elderly
4  AGER_TYP  best-ager typology     3   experience-driven elderly

In [6]:
def mark_as_missing(x):
    if type(x)==str:
        return 'unknown' in x
    else:
        return x
    
attributes['Missing'] = attributes['Meaning'].apply(mark_as_missing)

In [7]:
attribute_info.head()

,Information level,Attribute,Description,Additional notes
0,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
1,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
2,Person,ANREDE_KZ,gender,NaN
3,Person,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
4,Person,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...

In [8]:
cols_TYP = attribute_info.loc[attribute_info.Attribute.str.contains('TYP'), :].Attribute.unique()
cols_KLASSE = attribute_info.loc[attribute_info.Attribute.str.contains('KLASSE'), :].Attribute.unique()
cols_categoricalA = attribute_info.loc[attribute_info.Description.str.contains('classif'), :].Attribute.unique()
cols_typology = attribute_info.loc[attribute_info.Description.str.contains('typology'), :].Attribute.unique()

cols_typ = attributes.loc[attributes.Attribute.str.contains('TYP'), :].Attribute.unique()
cols_klasse = attributes.loc[attributes.Attribute.str.contains('KLASSE'), :].Attribute.unique()

cols_categoricalB = attributes.loc[attributes.Description.str.contains('classif'), :].Attribute.unique()
cols_class = attributes.loc[attributes.Description.str.contains('typology'), :].Attribute.unique()

In [10]:
attribute_info[attribute_info.Attribute == 'LP_FAMILIE_GROB']

   Information level        Attribute        Description Additional notes
18            Person  LP_FAMILIE_GROB  family type rough              NaN

In [2]:
attributes = pd.read_pickle('attributes.pkl')

In [17]:
attributes.Meaning.unique()

array(['unknown', 'no classification possible', 'passive elderly',
       'cultural elderly', 'experience-driven elderly', '< 30 years',
       '30 - 45 years', '46 - 60 years', '> 60 years',
       'uniformly distributed', 'unknown / no main age detectable',
       '01.01.1895 bis 31.12.1899', '01.01.1900 bis 31.12.1904',
       '01.01.1905 bis 31.12.1909', '01.01.1910 bis 31.12.1914',
       '01.01.1915 bis 31.12.1919', '01.01.1920 bis 31.12.1924',
       '01.01.1925 bis 31.12.1929', '01.01.1930 bis 31.12.1934',
       '01.01.1935 bis 31.12.1939', '01.01.1940 bis 31.12.1944',
       '01.01.1945 bis 31.12.1949', '01.01.1950 bis 31.12.1954',
       '01.01.1955 bis 31.12.1959', '01.01.1960 bis 31.12.1964',
       '01.01.1965 bis 31.12.1969', '01.01.1970 bis 31.12.1974',
       '01.01.1975 bis 31.12.1979', '01.01.1980 bis 31.12.1984',
       '01.01.1985 bis 31.12.1989', '01.01.1990 bis 31.12.1994',
       '01.01.1995 bis 31.12.1999', 'male', 'female',
       'numeric value (typically coded from 1-10)',
       'numeric value (typically coded from 1-3)', 'till 10 km',
       '10 - 20 km', '20 - 30 km', '30 - 40 km', '40 - 50 km', '50-100 km',
       'more than 100 km ', 'no company in the building',
       'company in the building', 'upper class', 'upper middleclass',
       'established middleclasse', 'consumption-oriented middleclass ',
       'active middleclass ', 'low-consumption middleclass',
       'lower middleclass', 'working class', 'urban working class',
       'Work-Life-Balance', 'Wealthy Best Ager', 'Successful Songwriter',
       'Old Nobility', 'City Nobility', 'Cottage Chic', 'Noble Jogger',
       'Established gourmet', 'Fine Management', 'Career & Family',
       'Powershopping Families', 'Rural Neighborhood', 'Secure Retirement',
       'Family Starter', 'Family Life', 'String Trimmer', 'Empty Nest',
       'Golden Ager', 'Younger Employees', 'Suddenly Family',
       'Family First', 'Stock Market Junkies', 'Coffee Rider',
       'Active Retirement', 'Jobstarter', 'Petty Bourgeois',
       'Long-established', 'Sportgardener', 'Urban Parents',
       'Frugal Aging', 'Journeymen', 'Mantaplatte', 'Factory Worker',
       'Rear Window', 'Interested Retirees', 'Multi-culteral',
       'Young & Mobile', 'Prefab', 'Town Seniors',
       'First Shared Apartment', 'Temporary Workers',
       'Afternoon Talk Show', 'Mini-Jobber', 'Socking Away',
       'Wealthy Households-Pre-Family Couples & Singles',
       'Wealthy Households-Young Couples With Children',
       'Wealthy Households-Families With School Age Children',
       'Wealthy Households-Older Families &  Mature Couples',
       'Wealthy Households-Elders In Retirement',
       'Prosperous Households-Pre-Family Couples & Singles',
       'Prosperous Households-Young Couples With Children',
       'Prosperous Households-Families With School Age Children',
       'Prosperous Households-Older Families & Mature Couples',
       'Prosperous Households-Elders In Retirement',
       'Comfortable Households-Pre-Family Couples & Singles',
       'Comfortable Households-Young Couples With Children',
       'Comfortable Households-Families With School Age Children',
       'Comfortable Households-Older Families & Mature Couples',
       'Comfortable Households-Elders In Retirement',
       'Less Affluent Households-Pre-Family Couples & Singles',
       'Less Affluent Households-Young Couples With Children',
       'Less Affluent Households-Families With School Age Children',
       'Less Affluent Households-Older Families & Mature Couples',
       'Less Affluent Households-Elders In Retirement',
       'Poorer Households-Pre-Family Couples & Singles',
       'Poorer Households-Young Couples With Children',
       'Poorer Households-Families With School Age Children',
       'Poorer Households-Older Families & Mature Couples',
       'Poorer Households-Elders In Retirement',
       'Advertising- and Consumptionminimalist',
       'Advertising- and Consumptiontraditionalist',
       'advertisinginterested Store-shopper',
       'advertisinginterested Online-shopper',
       'Advertising- and Cross-Channel-Enthusiast',
       'Advertising-Enthusiast with restricted Cross-Channel-Behaviour ',
       'no transactions known', 'very low activity', 'low activity',
       'slightly increased activity', 'increased activity',
       'high activity', 'very high activity',
       'highest activity within the last 12 months',
       'very high activity within the last 12 months',
       'high activity within the last 12 months',
       'increased activity within the last 12 months',
       'slightly increased activity within the last 12 months',
       'activity elder than 1 year', 'activity elder than 1,5 years',
       'activity elder than 2 years', 'activity elder than 3 years',
       'no transaction known', 'Multibuyer 0-12 months',
       'Doublebuyer 0-12 months', 'Singlebuyer 0-12 months',
       'Multi-/Doublebuyer 13-24 months', 'Singlebuyer 13-24 months',
       'Buyer > 24 months', 'Prospects > 24 months',
       'activity elder than 12 months', 'activity elder than 18 months',
       'activity elder than 24 months', 'activity elder than 36 months',
       'no Online-transactions within the last 12 months',
       '10% Online-transactions within the last 12 months',
       '20% Online-transactions within the last 12 months',
       '30% Online-transactions within the last 12 months',
       '40% Online-transactions within the last 12 months',
       '50% Online-transactions within the last 12 months',
       '60% Online-transactions within the last 12 months',
       '70% Online-transactions within the last 12 months',
       '80% Online-transactions within the last 12 months',
       '90% Online-transactions within the last 12 months',
       '100% Online-transactions within the last 12 months', 'Universal',
       'Versatile', 'Gourmet', 'Family', 'Informed ', 'Modern', 'Inactive',
       'regular customer', 'active customer', 'new costumer',
       'stray customer', 'inactive customer ', 'passive customer',
       'less than 34 HH/km²', '34 - 89 HH/km²', '90 - 149 HH/km²',
       '150 - 319 HH/km²', '320 - 999 HH/km²', 'more than 999 HH/²',
       'low finacial interest', 'money saver',
       'main focus is the own house', 'be prepared', 'Investor',
       'unremarkable', 'very high', 'high', 'average', 'low', 'very low',
       'residental building',
       'residental building buildings without actually known household',
       'mixed (=residential and company) building ',
       'mixed building without actually known household or comapny ',
       'company building w/o known company ',
       'mixed building without actually known household ',
       'company building',
       'mixed building without actually known company ', 'business cell',
       'mixed cell with high business share',
       'mixed cell with middle business share',
       'mixed cell with low business share', 'residential cell',
       'numeric value', 'Event travelers', 'Family-oriented vacationists',
       'Winter sportspeople', 'Culture lovers', 'Nature fans', 'Hiker',
       'Golden ager', 'Homeland-connected vacationists ',
       'Package tour travelers', 'Connoisseurs', 'Active families',
       'without vacation', 'almost no risk', 'risk below average',
       'risk slightly below average', 'average risk',
       'risk slightly above average', 'risk above average', 'highest risk',
       "doesn't belong to the green avantgarde",
       'belongs to the green avantgarde',
       'single-person-houshold, male, w/o child ',
       'single-person-houshold, female, w/o child ',
       'single-person-houshold, w/ child',
       'more-person-household with similar title and dissimilar surname (indication of flat share or similar) ',
       'more-person-household with similar title and similar surname (indication of generation-HH or similar) ',
       'more-person-household with dissimilar title and dissimilar surname w/o child (married couples, flat sharing or respectively couples with dissimal surname w/o child)  ',
       'more-person-household with dissimilar title and similar surname w/o child (families w/o child) ',
       'more-person-household with dissimilar title and dissimilar surname w child (married couples, flat sharing or respectively couples with dissimal surname w child) ',
       'more-person-household with dissimilar title and similar surname w child (family w child) ',
       'classification not possible', 'critical reserved ',
       'sanitary affine  ', 'jaunty hedonists ', 'highest income',
       'very high income', 'high income', 'average income', 'lower income',
       'very low income', 'city centre',
       'distance to the city centre 3 km',
       'distance to the city centre 3-5 km',
       'distance to the city centre 5-10 km',
       'distance to the city centre 10-20 km',
       'distance to the city centre 20-30 km',
       'distance to the city centre 30-40 km',
       'distance to the city centre > 40 km', 'none', 'some', 'some more',
       'very many', 'no 1-2 family homes',
       'lower share of 1-2 family homes',
       'average share of 1-2 family homes',
       'high share of 1-2 family homes',
       'very high share of 1-2 family homes', 'no 3-5 family homes',
       'lower share of 3-5 family homes',
       'average share of 3-5 family homes',
       'high share of 3-5 family homes',
       'very high share of 3-5 family homes', 'no 6-10 family homes',
       'lower share of 6-10 family homes',
       'average share of 6-10 family homes',
       'high share of 6-10 family homes', 'no >10 family homes',
       'lower share of >10 family homes', 'high share of >10 family homes',
       'very low car quote', 'low car quote', 'average car quote',
       'high car quote', 'very high car quote',
       'mainly 1-2 family homes in the microcell',
       'mainly 3-5 family homes in the microcell',
       'mainly 6-10 family homes in the microcell',
       'mainly>10 family homes in the microcell',
       'mainly business buildings in the microcell', '1-2 buildings',
       '3-4 buildings', '5-16 buildings', '17-22 buildings',
       '>=23 buildings', 'promoted', 'stayed upper level',
       'stayed lower/average level', 'demoted', 'new building',
       'way below average', 'below average', 'above average',
       'way above average', 'below 30 years', '30 - 40 years',
       '40 - 50 years', '50 - 60 years', 'elder than 60 years',
       'before 1994', '1994 - 1997', '1998 - 2000', 'since 2001',
       'Top-German', 'VW-Audi', 'Ford/Opel', 'European', 'Asian',
       'small car', 'lower middleclass car', 'middle class car',
       'upper class car', 'no preowner', '1 preowner',
       '2 or more preowner', 'very small engine', 'small engine',
       'average engine', 'big engine', 'mainly small engines',
       'mainly medium sized engines', 'mainly high engines',
       'mainly very big engines',
       'building is located in a 125 x 125m-grid cell (RA1), which is a consumption cell',
       'building is located in a 250 x 250m-grid cell, which includes at least one RA1-consumption cell',
       'building is located in a 500 x 500m-grid cell, which includes at least one RA1-consumption cell',
       'building is located in a 1 x 1km-grid cell, which includes at least one RA1-consumption cell',
       'building is located in a 2 x 2km-grid cell, which includes at least one RA1-consumption cell',
       'building is located in a 10 x 10km-grid cell, which includes at least one RA1-consumption cell',
       'building is not located in a 10 x 10km-range to a a consumption cell',
       'single ', 'couple', 'young single parent ',
       'single parent with teenager',
       'single parent with child of full age', 'young family ',
       'family with teenager ', 'family with child of full age',
       'shared flat', 'two-generational household',
       'multi-generational household', 'single parent', nan, 'family',
       'multiperson household', 'single low-income earners of younger age',
       'single low-income earners of middle age',
       'single average earners of younger age ',
       'single average earners of middle age',
       'single low-income earners of advanced age',
       'single low-income earners at retirement age ',
       'single average earners of advanced age',
       'single average earners at retirement age',
       'single independant persons', 'wealthy single homeowners',
       'single homeowners of advanced age',
       'single homeowners at retirement age',
       'single top earners of higher age ',
       'low-income- and average earner-couples of younger age',
       'low-income earner-couples of higher age',
       'average earner-couples of higher age ', 'independant couples',
       'wealthy homeowner-couples of younger age ',
       'homeowner-couples of higher age',
       'top earner-couples of higher age',
       'single parent low-income earners', 'single parent average earners',
       'single parent high-income earners', 'low-income earner-families',
       'average earner-families ', 'independant families',
       'homeowner-families', 'top earner-families',
       'low-income earners of younger age from mulitperson households',
       'average earners of younger age from mulitperson households',
       'low-income earners of higher age from mulitperson households',
       'average earners of higher age from mulitperson households',
       'independant persons of younger age from mulitperson households',
       'homeowners of younger age from mulitperson households',
       'top earners of younger age from mulitperson households',
       'independant persons of higher age from mulitperson households',
       'homeowners of advanced age from mulitperson households',
       'homeowners at retirement age from mulitperson households',
       'top earners of middle age from mulitperson households',
       'top earners at retirement age from mulitperson households',
       'single low-income- and average earners of younger age ',
       'single low-income- and average earners of higher age ',
       'single high-income earners',
       'single low-income- and average earner-couples ',
       'single high-income earner-couples', 'single parents',
       'single low-income- and average earner-families',
       'high-income earner-families',
       'low-income- and average earners of higher age from mulitperson households',
       'high-income earners of younger age from multiperson households',
       'high-income earners of higher age from multiperson households',
       'typical low-income earners',
       'orientationseeking low-income earners',
       'aspiring low-income earners ', 'villagers',
       'minimalistic high-income earners', 'independant workers',
       'title holder-households', 'new houseowners', 'houseowners',
       'top earners ', 'low-income earners', 'average earners',
       'independants', 'very high mobility', 'high mobility',
       'middle mobility', 'low mobility', 'very low mobility ',
       'sounding german', 'sounding foreign', 'assimilated names',
       'middle', 'highest  ', '<= 2.000 inhabitants',
       '2.001 to 5.000 inhabitants', '5.001 to 10.000 inhabitants',
       '10.001 to 20.000 inhabitants', '20.001 to 50.000 inhabitants',
       '50.001 to 100.000 inhabitants', '100.001 to 300.000 inhabitants',
       '300.001 to 700.000 inhabitants', '> 700.000  inhabitants',
       'East (GDR)', 'West (FRG)', 'low share', 'average share',
       'high share', 'very high share', 'mainly 1-2 family homes',
       'mainly 3-5 family homes', 'mainly 6-10 family homes',
       'mainly >10 family homes', 'mainly business building',
       'less than 60 buildings', '60-129 buildings', '130-299 buildings',
       '300-449 buildings', 'more than 449 buildings',
       'less than 130 households', '131-299 households',
       '300-599 households', '600-849 households',
       'more than 849 households', '40ies - war years (Mainstream, O+W)',
       '40ies - reconstruction years (Avantgarde, O+W)',
       '50ies - economic miracle (Mainstream, O+W)',
       '50ies - milk bar / Individualisation (Avantgarde, O+W)',
       '60ies - economic miracle (Mainstream, O+W)',
       '60ies - generation 68 / student protestors (Avantgarde, W)',
       '60ies - opponents to the building of the Wall (Avantgarde, O)',
       '70ies - family orientation (Mainstream, O+W)',
       '70ies - peace movement (Avantgarde, O+W)',
       '80ies - Generation Golf (Mainstream, W)',
       '80ies - ecological awareness (Avantgarde, W)',
       '80ies - FDJ / communist party youth organisation (Mainstream, O)',
       '80ies - Swords into ploughshares (Avantgarde, O)',
       '90ies - digital media kids (Mainstream, O+W)',
       '90ies - ecological awareness (Avantgarde, O+W)', 'conservatives',
       'upper middle class', 'middle class', 'lower middle class',
       'traditional workers', 'marginal groups',
       'influenceable Crazy-Shopper', 'demanding Heavy-Returner',
       'incentive-receptive Normal-Returner', 'conservative Low-Returner',
       'determined Minimal-Returner', 'highest affinity',
       'very high affinity', 'high affinity', 'average affinity',
       'low affinity', 'very low affinity', 'lowest affinity',
       'external supplied hedonists ', 'Shopping-stressed',
       'family-shopper', 'demanding shopper',
       'no small office/home office', 'small office/home office', 'Dr.',
       'Dr. Dr.', 'Prof.', 'Prof. Dr.', 'other', 'social-safety driven',
       'individualistic-accepting risks',
       'length of residence below 1 year', 'length of residence 1-2 years',
       'length of residence 2-3 years', 'length of residence 3-4 years',
       'length of residence 4-5 years', 'length of residence 5-6 years',
       'length of residence 6-7 years', 'length of residence 7-10 years',
       'length of residence more than 10 years', 'no score calculated',
       'very good neighbourhood', 'good neighbourhood',
       'average neighbourhood', 'poor neighbourhood',
       'very poor neighbourhood', 'rural neighbourhood',
       'new building in rural neighbourhood', 'very high influx',
       'high influx', 'middle influx', 'low influx', 'development area',
       'most likely', 'very likely', 'likely', 'unlikely', 'very unlikely',
       'green', 'smart', 'fair supplied', 'price driven',
       'seeking orientation', 'indifferent'], dtype=object)

In [5]:
categorical_attributes_info = attributes.loc[attributes.Value.apply(lambda x: (type(x)==str) & (x!='-1, 0') & (x!='-1, 9')), :]
categorical_attributes_info.reset_index(inplace=True, drop=True)

In [6]:
categorical_attributes_info.head()

,Attribute,Description,Value,Meaning,Missing
0,ANZ_HAUSHALTE_AKTIV,number of households in the building,…,numeric value (typically coded from 1-10),False
1,ANZ_HH_TITEL,number of academic title holder in building,…,numeric value (typically coded from 1-10),False
2,ANZ_PERSONEN,number of adult persons in the household,…,numeric value (typically coded from 1-3),False
3,ANZ_TITEL,number of professional title holder in household,…,numeric value (typically coded from 1-10),False
4,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance,False

In [7]:
categorical_attributes_info = categorical_attributes_info[categorical_attributes_info.Value!='…']
categorical_attributes_info.head()

,Attribute,Description,Value,Meaning,Missing
4,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1A,Work-Life-Balance,False
5,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1B,Wealthy Best Ager,False
6,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1C,Successful Songwriter,False
7,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1D,Old Nobility,False
8,CAMEO_DEU_2015,CAMEO classification 2015 - detailled classifi...,1E,City Nobility,False

In [8]:
binary_attrib = attributes.query("Missing == False").groupby('Attribute').size()
binary_attrib_index = binary_attrib[binary_attrib == 2].index

In [9]:
binary_attributes_info = attributes.loc[attributes.Attribute.apply(lambda x: x in binary_attrib_index), :].query("Missing == False")
binary_attributes_info.reset_index(inplace=True, drop=True)

In [10]:
binary_attributes_info.head()

,Attribute,Description,Value,Meaning,Missing
0,ANREDE_KZ,gender,1,male,False
1,ANREDE_KZ,gender,2,female,False
2,BIP_FLAG,business-flag indicating companies in the buil...,0,no company in the building,False
3,BIP_FLAG,business-flag indicating companies in the buil...,1,company in the building,False
4,GREEN_AVANTGARDE,Green avantgarde,0,doesn't belong to the green avantgarde,False

In [11]:
typ_attributes = attributes.loc[attributes.Attribute.str.contains('TYP'), :]
klasse_attributes = attributes.loc[attributes.Attribute.str.contains('KLASSE'), :]
    
attributes_typ_descr = attributes.loc[attributes.Description.str.contains('typ'), :]
attributes_class_descr = attributes.loc[attributes.Description.str.contains('class'), :]

In [12]:
set(list(categorical_attributes_info.Attribute.unique()) + list(binary_attributes_info.Attribute.unique()))

{'ANREDE_KZ',
 'BIP_FLAG',
 'CAMEO_DEU_2015',
 'GREEN_AVANTGARDE',
 'KBA05_SEG6',
 'ORTSGR_KLS9',
 'OST_WEST_KZ',
 'SOHO_FLAG',
 'VERS_TYP'}

In [13]:
attributes_cat = pd.concat([categorical_attributes_info, binary_attributes_info, typ_attributes, klasse_attributes, attributes_typ_descr, attributes_class_descr], axis=0)

In [14]:
len(attributes_cat.Attribute.unique())

47

In [16]:
attributes_cat.Attribute.unique()

array(['CAMEO_DEU_2015', 'ORTSGR_KLS9', 'OST_WEST_KZ', 'ANREDE_KZ',
       'BIP_FLAG', 'GREEN_AVANTGARDE', 'KBA05_SEG6', 'SOHO_FLAG',
       'VERS_TYP', 'AGER_TYP', 'CJT_GESAMTTYP', 'D19_KONSUMTYP',
       'D19_KK_KUNDENTYP', 'FINANZTYP', 'GEBAEUDETYP',
       'GEBAEUDETYP_RASTER', 'GFK_URLAUBERTYP', 'HEALTH_TYP', 'REGIOTYP',
       'RETOURTYP_BK_S', 'SHOPPER_TYP', 'ZABEOTYP',
       'KBA13_SEG_KOMPAKTKLASSE', 'KBA13_SEG_MITTELKLASSE',
       'KBA13_SEG_OBEREMITTELKLASSE', 'KBA13_SEG_OBERKLASSE',
       'CAMEO_DEUINTL_2015', 'FINANZ_ANLEGER', 'FINANZ_HAUSBAUER',
       'FINANZ_MINIMALIST', 'FINANZ_SPARER', 'FINANZ_UNAUFFAELLIGER',
       'FINANZ_VORSORGER', 'KBA05_BAUMAX', 'LP_FAMILIE_FEIN',
       'LP_FAMILIE_GROB', 'PLZ8_BAUMAX', 'ALTERSKATEGORIE_GROB',
       'CAMEO_DEUG_2015', 'KBA05_KRSOBER', 'KBA05_MOD1', 'KBA05_MOD2',
       'KBA05_MOD3', 'KBA05_SEG3', 'KBA05_SEG4', 'KBA05_SEG5',
       'KBA13_KRSSEG_OBER'], dtype=object)

In [4]:
attributes[attributes.Description=='familytyp fine']

,Attribute,Description,Value,Meaning,Missing
1892,LP_FAMILIE_FEIN,familytyp fine,1,single,False
1893,LP_FAMILIE_FEIN,familytyp fine,2,couple,False
1894,LP_FAMILIE_FEIN,familytyp fine,3,young single parent,False
1895,LP_FAMILIE_FEIN,familytyp fine,4,single parent with teenager,False
1896,LP_FAMILIE_FEIN,familytyp fine,5,single parent with child of full age,False
1897,LP_FAMILIE_FEIN,familytyp fine,6,young family,False
1898,LP_FAMILIE_FEIN,familytyp fine,7,family with teenager,False
1899,LP_FAMILIE_FEIN,familytyp fine,8,family with child of full age,False
1900,LP_FAMILIE_FEIN,familytyp fine,9,shared flat,False
1901,LP_FAMILIE_FEIN,familytyp fine,10,two-generational household,False
1902,LP_FAMILIE_FEIN,familytyp fine,11,multi-generational household,False

In [61]:
attributes.to_pickle('attributes.pkl')